# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# PyCharm
# ==========================================
.idea/

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# Spark
# ==========================================
spark-warehouse/
metastore_db/
derby.log

# ==========================================
# Hadoop
# ==========================================
*.crc

# ==========================================
# Generated Data
# (Keep folder structure but ignore files)
# ==========================================
data/raw/*
data/processed/*
data/rejected/*
data/archive/*

# Keep folders in Git
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/rejected/.gitkeep
!data/archive/.gitkeep

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak
*.swp

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Test Coverage
# ==========================================
.coverage
htmlcov/
.pytest_cache/

# ==========================================
# Build
# ==========================================
build/
dist/

# ==========================================
# Local Database Files
# ==========================================
*.sqlite
*.db

# ==========================================
# Secrets
# ==========================================
*.pem
*.key
*.crt